span {
    font-weight: 800;
    float: right;
}

h1 {
    margin-bottom: 1%;
    text-align: center;
}

h2 {
    margin-bottom: 0%;
}

nav {
    height: 100px;
    background-color: gray;
    overflow-y: scroll;
}

nav ul {
    height: 200px;
    width: 18%;
}